[defaults]
host_key_checking = False
inventory = inventory/
roles_path = roles/
retry_files_enabled = False
retry_files_save_path = /tmp
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 86400

[ssh_connection]
private_key_file = ~/.ssh/id_rsa
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
